.benefits {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits > h1 > span {
  display: block;
  font-size: 40px;
}

.benefits > h1 > span:nth-child(1) {
  color: #0083ff;
}

.benefits__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  padding: 1rem;
  width: 100%;
}

.benefit__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

.benefit__card-icon {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.benefit__card:nth-child(1) > .benefit__card-icon {
  background: #fff7ee;
}

.benefit__card:nth-child(2) > .benefit__card-icon {
  background: #effbf8;
}

.benefit__card:nth-child(3) > .benefit__card-icon {
  background: #fff1f1;
}

.benefit__card:nth-child(4) > .benefit__card-icon {
  background: #fff7ee;
}

.benefit__card:nth-child(5) > .benefit__card-icon {
  background: #effbf8;
}

.benefit__card:nth-child(6) > .benefit__card-icon {
  background: #fff1f1;
}

.benefit__card > h2 {
  margin: 1rem;
  font-size: 28px;
}

.benefit__card > p {
  line-height: 30px;
  max-width: 400px;
  text-align: center;
  color: #52648e;
}
