.bookDemo {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin-top: 10rem;
}

.bookDemo-left {
  flex: 0.275;
  padding: 2rem;
}

.bookDemo-left > h2 {
  font-size: 36px;
  color: #081f4d;
}

.bookDemo-left > button {
  margin-top: 3rem;
  color: #0083ff;
  padding: 1rem 2rem;
  border-radius: 30px;
  border: 1px solid rgba(0, 131, 255, 0.08);
  background: transparent;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

.bookDemo-left > button:hover {
  background: #e6f1ff;
}

.bookDemo-center {
  flex: 0.45;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.bookDemo__icon {
  margin: 1rem;
  padding: 2rem;
  border-radius: 999px;
}

.bookDemo-right {
  flex: 0.275;
  padding: 2rem;
}

.bookDemo-right > h2 {
  font-size: 18px;
  font-weight: 600;
  color: #081f4d;
}

.bookDemo-right > p {
  margin-top: 2rem;
  font-weight: 500;
  color: #081f4d;
}

@media only screen and (max-width: 1200px) {
  .bookDemo-left {
    flex: 0.275;
    padding: 1rem;
  }
  .bookDemo__icon {
    margin: 0.5rem;
    padding: 0 1rem;
    border-radius: 999px;
  }

  .bookDemo-right {
    flex: 0.275;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .bookDemo {
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin-top: 5rem;
    padding: 1rem;
  }

  .bookDemo-right,
  .bookDemo-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bookDemo-right,
  .bookDemo-center {
    margin-top: 3rem;
    text-align: center;
    line-height: 25px;
  }
}
