.conversions {
  background-color: #081131;
  position: relative;
}

.conversions__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 80vw;
}

.conversions__header {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  justify-content: space-between;
  position: relative;
  background: url(../../Assets/Images/conversions.png);
  background-position: right 300%;
  background-size: auto 500px;
  background-repeat: no-repeat;
  padding: 1rem;
}

.conversions__info {
  color: white;
  width: 100%;
  margin-top: 10rem;
  z-index: 1;
  flex: 0.45;
}

.conversions__info > h3 {
  margin-bottom: 2rem;
  font-size: 14px;
  color: #0083ff;
  font-weight: bold;
  padding: 0.7rem;
  width: 260px;
  text-align: center;
  border-radius: 30px;
  background: rgba(0, 131, 255, 0.08);
}

.conversions__info > h1 {
  margin-bottom: 2rem;
}

.conversions__info > h1 > span {
  display: block;
  font-size: 50px;
}

.conversions__info > h1 > span:nth-child(2) {
  color: #0083ff;
}

.conversions__info > p {
  color: #d4dcf1;
  line-height: 30px;
  font-weight: 500;
}

/* .conversions__header > img {
  position: absolute;
  right: -400px;
  top: -80px;
  max-width: 1000px;
} */

.conversions__stats {
  padding: 5rem 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 3rem auto;
}

.conversions__stat {
  padding: 1rem;
  color: white;
  z-index: 1;
  text-align: center;
}

.conversions__stat > h3 {
  font-size: 50px;
  margin-bottom: 1rem;
}

.conversions__stat > span {
  color: #7b86ac;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.conversions__stat > p {
  margin-top: 1rem;
  color: #d4dcf1;
  font-weight: 500;
  line-height: 30px;
}

@media only screen and (max-width: 1300px) {
  .conversions__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1100px) {
  .conversions__header {
    background-position: right 200%;
  }
}

@media only screen and (max-width: 950px) {
  .conversions__header {
    background: initial;
    flex-direction: column;
    align-items: center;
  }

  .conversions__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
  }

  .conversions__info > p {
    max-width: 80vw;
  }
}

@media only screen and (max-width: 950px) {
  .conversions__stats {
    padding: 2rem 0 !important;
  }

  .conversions__info {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .conversions__stats {
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  .conversions__stat {
    margin-top: 1rem;
  }

  .conversions__info > h1 > span {
    font-size: 40px;
    text-align: center;
  }

  .conversions__info > p {
    font-size: 14px;
  }
}
