.heroVideo {
  margin: 5rem 0;
}

.heroVideo__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.blurredImg {
  width: 90%;
  object-fit: contain;
  height: 100%;
}

.heroVideo__play-button {
  background: #0083ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.heroVideo__play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

@media only screen and (max-width: 750px) {
  .heroVideo {
    margin: 2rem 0;
  }
}
