.hma__content {
  margin: 0 auto;
  margin-top: 5rem;
  background: rgb(8, 17, 49);
  color: white;
  max-height: 700px;
  max-width: 840px;
  border-radius: 70px;
  position: relative;
  padding-bottom: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hma__content > h1 {
  margin-top: 5rem;
  text-align: center;
}

.hma__images {
  position: absolute;
  bottom: -150px;
}

.hma__content > h1 > span {
  display: block;
}

.hma__content > p {
  margin-top: 2rem;
  color: rgb(177, 189, 218);
  font-weight: 600;
  max-width: 450px;
  text-align: center;
  line-height: 25px;
}

.hma__main-img {
  z-index: 5;
  transform: rotate(0deg);
}

.hma__phone-1 {
  transform: rotate(-25deg) translate(20px, -15px);
  z-index: 1;
}

.hma__phone-2 {
  transform: rotate(25deg) translate(-20px, -15px);
  z-index: -1;
}

@media only screen and (max-width: 1000px) {
  .hma__content {
    max-width: 80vw;
  }

  .hma__hide {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .hma__content > h1 {
    font-size: 30px;
  }

  .hma__content > p {
    padding: 1rem;
  }

  .hma__images {
    bottom: -200px;
  }
}
