.revenueInfo {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.revenueInfo__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.revenueInfo__header > h2 {
  font-size: 40px;
  flex: 0.5;
  color: #081f4d;
}

.revenueInfo__header > h2 > span {
  display: block;
  position: relative;
  margin-bottom: 0.5rem;
  color: #081f4d;
}

.revenueInfo__header > h2 > span:nth-child(2) {
  color: #0083ff !important;
}

.revenueInfo__header > h2 > span > svg {
  position: absolute;
  left: -20px;
  top: -20px;
}

.revenueInfo__header > p {
  flex: 0.4;
  font-size: 14px;
  font-weight: 500;
  color: #081f4d;
}

.revenueInfo__row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.row-reverse {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.revenueInfo__row > img {
  position: absolute;
  left: -200px;
  top: 100px;
}

.row-reverse > img {
  position: absolute;
  right: -100px;
  top: 100px;
}

.revenueInfo__row-content {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  padding: 8rem 0;
}

.revenueInfo__row-content:nth-child(0) {
  margin-top: 15rem !important;
}

.revenueInfo__row-number {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background: #f8faff;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.revenueInfo__row-content > h3 {
  margin-bottom: 2rem;
}

.revenueInfo__row-content > h3 > span {
  font-size: 28px;
  display: block;
}

.revenueInfo__row-content > p {
  color: #081f4d;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  max-width: 300px;
}

@media only screen and (max-width: 1250px) {
  .revenueInfo {
    overflow: hidden;
  }

  .revenueInfo__header {
    justify-content: space-around;
  }

  .revenueInfo__row > img {
    max-width: 500px;
    left: -50px;
    top: 200px;
  }

  .row-reverse > img {
    max-width: 500px;
    right: 0px;
    top: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .revenueInfo__header {
    margin-bottom: 5rem;
  }
  .revenueInfo__row-content {
    padding-top: 0;
  }

  .revenueInfo__row {
    flex-direction: column;
  }
  .row-reverse {
    flex-direction: column-reverse;
  }

  .revenueInfo__row > img,
  .row-reverse > img {
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    max-width: 90vw;
  }
}

@media only screen and (max-width: 700px) {
  .revenueInfo__header {
    flex-direction: column;
  }

  .revenueInfo__header > p {
    margin-top: 3rem;
    text-align: center;
  }
}
