.pricingHero {
  background: #f8faff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.pricingHero > h1 {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pricingHero > h1 > span > svg {
  position: absolute;
  top: 0;
  right: -15px;
}

.pricingHero > h1 > span {
  display: block;
  font-size: 60px;
  position: relative;
  width: fit-content;
}

.pricingHero > h1 > span:nth-child(1) {
  color: #0083ff;
}

.pricingHero > p {
  margin-top: 2rem;
  line-height: 30px;
  max-width: 500px;
  font-weight: 500;
}

.pricingHero__cards {
  display: flex;
  text-align: left;
  align-items: center;
  position: relative;
}

.pricingHero__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translateY(100px);
  box-shadow: 0 154px 146px -20px rgba(36, 60, 122, 0.03);
}

.pricingHero__card:nth-child(1) {
  width: 350px;
  background: white;
  border-radius: 30px;
  height: 500px;
  flex: 0.45;
  padding: 2rem;
}

.pricingHero__card:nth-child(2) {
  width: 500px;
  background: #091638;
  border-radius: 30px;
  color: white;
  height: 600px;
  flex: 0.55;
  padding: 2rem 2rem 0 2rem;
}

.pricingHero__card:nth-child(2) > img {
  position: absolute;
  top: -107px;
  height: 400px;
  right: -150px;
}

.pricingHero__card:nth-child(1) > h2 {
  font-size: 32px;
}

.pricingHero__card:nth-child(2) > h2 {
  font-size: 38px;
}

.pricingHero__card > p {
  color: #52648e;
  font-weight: 500;
}

.pricingHero__card > button {
  width: fit-content;
  border: none;
  background: #0083ff;
  color: white;
  padding: 1rem 2rem;
  border-radius: 99px;
  align-self: center;
  margin-top: 1rem;
  cursor: pointer;
}

.pricingHero__card > span {
  font-size: 14px;
  text-align: center;
}

.pricingHero__feature {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.pricingHero__feature > svg {
  margin-right: 1rem;
}

.pricingHero__card-footer {
  background: #0083ff;
  color: white;
  flex: 0.2;
  border-radius: 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
}

.pricingHero__card-footer > svg {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.pricingHero__card-footer > p {
  margin-bottom: 0.5rem;
}

.pricingHero__card-footer > span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 1000px) {
  .pricingHero {
    padding-bottom: 20rem;
    margin-bottom: 70rem;
  }
  .pricingHero__cards {
    flex-direction: column;
  }

  .pricingHero__card:nth-child(1),
  .pricingHero__card:nth-child(2) {
    flex: initial;
    text-align: center;
  }

  .pricingHero__card:nth-child(1) {
    width: 450px;
  }

  .pricingHero__card:nth-child(2) {
    margin-top: 5rem;
  }

  .pricingHero__cards {
    position: absolute;
    bottom: -900px;
  }
}

@media only screen and (max-width: 800px) {
  .pricingHero__card:nth-child(2) > img {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .pricingHero__card:nth-child(1) {
    width: 350px;
  }

  .pricingHero__card:nth-child(2) {
    width: 450px;
  }

  .pricingHero > h1 > span {
    font-size: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .pricingHero__card:nth-child(1) {
    width: 275px;
  }

  .pricingHero__card:nth-child(2) {
    width: 350px;
  }

  .pricingHero > h1 > span {
    font-size: 40px;
  }

  .pricingHero > h1 > span > svg {
    right: -20px;
  }

  .pricingHero > p {
    max-width: 90vw;
  }
}
